<!-- BEGIN QUICK SIDEBAR -->
<a href="javascript:;" class="page-quick-sidebar-toggler">
    <i class="icon-login"></i>
</a>
<div class="page-quick-sidebar-wrapper" data-close-on-body-click="false">
    <div class="page-quick-sidebar">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="javascript:;" data-target="#quick_sidebar_tab_1" data-toggle="tab"> KotakJerit
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active page-quick-sidebar-chat" id="quick_sidebar_tab_1">
                <div class="page-quick-sidebar-item-shown">
                    <div class="page-quick-sidebar-chat-user">
                        <div id="output-body" class="page-quick-sidebar-chat-user-messages">
                            <div id="chat-output">
                                <%- @chats.each do |chat| %>
                                    <%= render partial: 'chat/chat_message', locals: { chat: chat }%>
                                <% end -%>
                            </div>
                        </div>
                        <form class="chat">
                            <div class="page-quick-sidebar-chat-user-form">
                                <div class="input-group">
                                    <input id="chat_input" type="text" class="form-control" placeholder="Type a message here...">
                                    <div class="input-group-btn">
                                        <button id='send-chat' type="button" class="send-chat btn green">
                                        <%= link_to 'javascript:void(0);' do %>
                                            <i class="fa fa-check icon-white"></i>
                                        <% end -%>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- END QUICK SIDEBAR -->